@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat-Bold.woff2) format("woff2"),
         url(../fonts/Montserrat-Bold.ttf) format("ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat Medium";
    src: url(../fonts/Montserrat-Medium.woff2) format("woff2"),
         url(../fonts/Montserrat-Medium.ttf) format("ttf");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2"),
         url(../fonts/Montserrat-SemiBold.ttf) format("ttf");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat-Regular.woff2) format("woff2"),
         url(../fonts/Montserrat-Regular.ttf) format("ttf");
    font-weight: 400;
    font-display: swap;
}
:root {
    font-size: 16px;
    --title-f-f: "Montserrat Bold";
    --middle-f-f: "Montserrat SemiBold";
    --black-navy: rgb(18, 47, 60);
    --white: rgb(255, 255, 255);
    --yellow: rgb(253, 214, 8);
    --blue: rgb(235, 242, 246);
    --title-s: 46px;
    --middle-s: 18px;
}
.body {
    font-family: "Montserrat Regular";
    background: var(--white);
    font-size: 16px;
    position: relative;
}
.wrapper {
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
}
.title {
    font-family: var(--title-f-f);
    font-size: 46px;
    text-align: center;
    color: var(--black-navy);
}
.subtitle {
    text-align: center;
    font-size: 20px;
    color: var(--black-navy);
    font-family: "Montserrat Medium";
    display: block;
    margin-top: 10px;
    line-height: 145%;
}
button, 
.button {
    background: var(--yellow);
    padding: 14px 32px;
    color: var(--black-navy);
    font-family: var(--middle-f-f);
    font-size: 20px;
    border-radius: 50px;
    margin: 50px auto 0;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    border: 2px solid transparent;
    text-align: center;
    display: block;
}
button:hover, 
.button:hover {
    background: var(--black-navy);
    color: var(--yellow);
    border: 2px solid var(--yellow);
}
.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 25;
}
.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menu__item + .menu__item {
    margin-left: 20px;
}
.menu__item {
    width: 100%;
}
.menu__link {
    color: var(--white);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.menu__link:hover {
    font-family: var(--middle-f-f);
}
.burger {
    display: none;
}
.header-lan {
    display: flex;
    align-items: center;
    display: none;
}
.lang-item {
    list-style-type: none;
}
.lang-item a {
    color: var(--white);
    text-decoration: none;
}
.phone-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-phone__link {
    color: var(--white);
    font-family: var(--middle-f-f);
    font-size: 17px;
    margin-left: 15px;
}
button.header__button {
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    padding: 14px 20px;
    margin-left: 30px;
    cursor: pointer;
    font-family: var(--middle-f-f);
    transition: 0.3s;
    margin-top: 0;
    background-color: transparent;
    margin: 0;
}
.header__button:hover {
    background: rgb(56, 158, 186);
}
section {
    padding: 125px 0 70px 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
@media screen and (max-width: 1300px) {
    .wrapper {
        padding: 0 30px;
    }
    section {
        padding: 105px 0 50px 0;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: var(--middle-s);
    }
}
@media screen and (max-width: 1024px) {
    .title {
        font-size: 30px;
    }
    button, 
    .button {
        padding: 14px 32px;
        font-size: 17px;
        margin-top: 40px;
    }
    .header-wrap {
        height: 80px;
    }
    .logo-link {
        position: relative;
        z-index: 3;
    }
    .header__button {
        position: relative;
        z-index: 3;
    }
    .nav {
        order: 3;
    }
    .menu {
        position: absolute;
        top: -100px;
        right: 0;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        background: var(--black-navy);
        height: 0;
        width: 0;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        transition: 0.3s;
        overflow-x: hidden;
    }
    .menu__item {
        width: 100%;
        height: 70px;
        position: relative;
        right: -100px;
        opacity: 0;
        transition: 0.5s;
    }
    .menu__item:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: var(--yellow);
        height: 2px;
        width: 180px;
    }
    .menu__item + .menu__item {
        margin-left: 0;
    }
    .menu__link {
        color: var(--white);
        transition: 0.7s;
        opacity: 0;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        text-align: center;
        width: 100%;
        height: inherit;
    }
    .burger {
        display: block;
        width: 30px;
        height: 16px;
        position: relative;
        cursor: pointer;
    }
    .burger__item {
        width: 100%;
        height: 2px;
        background: var(--yellow);
        border-radius: 10px;
        transition: 0.2s;
        position: absolute;
    }
    .burger__item:first-child {
        top: 0;
        left: 0;
    }
    .burger__item:nth-child(2n) {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .burger__item:last-child {
        left: 0;
        bottom: 0;
    }
    .burger__item:first-child.burger__item_top {
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        left: 50%;
    }
    .burger__item_middle {
        width: 0;
    }
    .burger__item:last-child.burger__item_bottom {
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        left: 50%;
    }
    .phone-wrap {
        margin-top: 40px;
        opacity: 0;
        transition: 0.7s;
    }
    .phone-wrap svg {
        width: 15px;
    }
    .header-phone__link {
        font-size: 15px;
        margin-left: 10px;
    }
    .menu-active {
        display: flex;
        height: 80vh;
        width: 100%;
    }
    .show {
        right: 0;
        opacity: 1;
    }
    button.header__button {
        padding: 12px 16px;
        margin-left: auto;
        margin-right: 30px;
    }
}
@media screen and (max-width: 768px) {
    section {
        padding: 85px 0 30px 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .wrapper {
        padding: 0 15px;
    }
    button, .button {
        font-size: 15px;
        padding: 12px 26px;
    }
    .title {
        font-size: 24px;
    }
    .subtitle {
        font-size: 16px;
        margin-top: 8px;
    }
    h4 {
        font-size: 22px;
    }
    .header-logo {
        width: 120px;
    }
    button.header__button {
        padding: 8px 12px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .menu {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .menu-active {
        height: 90vh;
    }
}
@media screen and (max-width: 375px) {
    button.header__button {
        padding: 6px 8px;
        margin-right: 5px;
        margin-left: 5px;
    }
        button, .button {
        padding: 12px 20px;
    }
}