/* start hero */
.hero {
    height: 750px;
    background: var(--black-navy);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow-y: hidden;
}
.hero__items {
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
}
.title-hero {
    color: var(--white);
    font-family: var(--title-f-f);
    font-size: 52px;
    text-align: left;
    padding-top: 75px;
}
.text-hero {
    color: rgb(196, 242, 255);
    font-family: "Montserrat Medium";
    font-size: 23px;
    text-align: left;
    margin-top: 30px;
}
.hero-left {
    flex-basis: 60%;
    margin-right: 30px;
}
.hero-right {
    position: relative;
}
.hero-img {
    position: relative;
    z-index: 1;
}
.hero-elips {
    position: absolute;
}
.hero-elips__big {
    background: rgb(0, 160, 226);
    left: 15%;
    top: 0;
    transform: translateY(-7%);
    width: 542px;
    height: 623px;
    border-radius: 70%;
    filter: blur(280px);
}
.hero-elips__small {
    background: rgba(105, 207, 235);
    right: 50%;
    bottom: 0;
    transform: translateY(24px);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(160px) opacity(0.2);
}
/* end hero */
.problem {
    background: var(--white);
}
@media screen and (max-width: 1300px) {
    
}