/* start hero */
.hero {
    height: 750px;
    background: var(--black-navy);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    display: flex;
}
.hero__items {
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.title-hero {
    color: var(--white);
    font-family: var(--title-f-f);
    font-size: 52px;
    text-align: left;
    padding-top: 75px;
}
.text-hero {
    color: rgb(196, 242, 255);
    font-family: "Montserrat Medium";
    font-size: 23px;
    text-align: left;
    margin-top: 30px;
}
.hero-left {
    flex-basis: 60%;
    margin-right: 30px;
}
.hero-right {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.hero-img {
    position: relative;
    z-index: 1;
}
.hero-elips {
    position: absolute;
}
.hero-elips__big {
    background: rgb(0, 160, 226);
    left: 15%;
    top: 0;
    transform: translateY(-7%);
    width: 542px;
    height: 623px;
    border-radius: 70%;
    filter: blur(280px);
}
.hero-elips__small {
    background: rgba(105, 207, 235);
    right: 50%;
    bottom: 0;
    transform: translateY(24px);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(160px) opacity(0.2);
}
/* end hero */
.problem {
    background: var(--white);
}
@media screen and (max-width: 1300px) {
    .hero {
        height: 100%;
    }
    .hero__items {
        padding-top: 110px;
    }
    .title-hero {
        font-size: 41px;
    }
    .text-hero {
        font-size: 19px;
    }
    .hero-elips__big {
        width: 442px;
        height: 523px;
    }
    .hero-elips__small {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 1024px) {
    .hero {
        height: 80vh;
    }
    .hero-left {
        margin-right: 20px;
        padding-bottom: 40px;
    }
    .title-hero {
        padding-top: 50px;
    }
    .title-hero {
        font-size: 36px;
    }
    .text-hero {
        font-size: 17px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 768px) {
    .hero {
        height: calc(100vh - 80px);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .hero-left {
        flex-basis: 100%;
    }
    .hero-right {
        display: none;
    }
    .title-hero {
        font-size: 30px;
    }
    .button-hero {
        margin-top: 70px;
    }

}