/* start hero */
.hero {
    height: 750px;
    background: var(--black-navy);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 22;
}
.hero__items {
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.hero-left {
    flex-basis: 60%;
    margin-right: 30px;
}
.title-hero {
    color: var(--white);
    font-family: var(--title-f-f);
    font-size: 52px;
    text-align: left;
    padding-top: 75px;
}
.text-hero {
    color: rgb(196, 242, 255);
    font-family: "Montserrat Medium";
    font-size: 23px;
    text-align: left;
    margin-top: 30px;
}
.button-hero {
    margin-left: 0;
}
.hero-right {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.hero-img {
    position: relative;
    z-index: 1;
}
.hero-elips {
    position: absolute;
}
.hero-elips__big {
    background: rgb(0, 160, 226);
    left: 15%;
    top: 0;
    transform: translateY(-7%);
    width: 542px;
    height: 623px;
    border-radius: 70%;
    filter: blur(280px);
}
.hero-elips__small {
    background: rgba(105, 207, 235);
    right: 50%;
    bottom: 0;
    transform: translateY(24px);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(160px) opacity(0.2);
}
/* end hero */
/* start problem section */
.problem {
    background: linear-gradient(96.93deg, #F8FAFC 0%, #D1EAF1 100%);
    position: relative;
    top: -55px;
    position: relative;
    top: -55px;
    z-index: 21;
}
.problem-lists {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.problem-item {
    flex-basis: 50%;
}
.title-list {
    color: var(--black-navy);
    font-size: 28px;
    font-family: var(--middle-f-f);
}
.problem__list {
    margin-top: 40px;
    list-style-type: none;
}
.problem-list__item {
    position: relative;
    font-size: var(--middle-s);
    height: 44px;
    padding-left: 55px;
    display: flex;
    align-items: center;
}
.problem-list__item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/icon/fire.svg) center / 22px no-repeat,
                var(--white);
    border-radius: 30px;
    height: 44px;
    width: 44px;
}
.problem-list__item + .problem-list__item {
    margin-top: 28px;
}
/* and problem section */
/* start section solution */
.solution {
    background: var(--white);
    padding-top: 15px;
    position: relative;
    z-index: 20;
}
.solution__items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 370px;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    justify-content: space-between;
    gap: 40px;
}
.solution__item:last-child {
    grid-column: span 2;
}
.solution__item {
    background: var(--blue);
    border-radius: 30px;
    padding: 30px;
}
.solution__item_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.solution__item_top:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
} 
.solution__item:first-child .solution__item_top:after {
    background: url(../img/icon/loop.svg)top right / auto no-repeat;
}
.solution__item:nth-child(2n) .solution__item_top:after {
    background: url(../img/icon/settings.svg)top right / auto no-repeat;
}
.solution__item:last-child .solution__item_top:after {
    background: url(../img/icon/rocket.svg)top right / auto no-repeat;
}
.solution__stage {
    background: var(--yellow);
    border-radius: 10px;
    padding: 5px 10px;
    font-family: var(--middle-f-f);
    font-size: 22px;
    margin-right: 16px;
}
.solution__item_title {
    font-family: var(--middle-f-f);
    font-size: 28px;
}
.subtitle__solution_item {
    flex-basis: 100%;
    text-align: left;
    font-size: 16px;
    color: rgb(14, 116, 144);
}
.solution-list {
    margin-top: 20px;
    list-style-type: none;
}
.solution__item:first-child .solution-list {
    column-count: 2;
}
.solution__item:last-child .solution-list {
    column-count: 3;
}
.solution-list__item {
    position: relative;
    padding-left: 34px;
}
.solution-list__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/icon/solution-arrow-icon.svg) center left / auto no-repeat;
}
.solution-list__item + .solution-list__item {
    margin-top: 15px;
}
.solution__item:first-child 
.solution-list__item:last-child {
    background: var(--white);
    border-radius: 10px;
    border: 2px solid var(--white);
    padding-left: 0;
}
.solution__item:first-child 
.solution-list__item:last-child:after {
    display: none;
}
.solution-sublist__title {
    background: rgb(216, 231, 237);
    text-align: center;
    padding: 13px 0;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: var(--middle-f-f);
    font-size: var(--middle-s);
}
.solution-sublist {
    list-style-type: none;
    padding: 25px 20px;
}
.solution-sublist__item {
    padding-left: 34px;
    position: relative;
}
.solution-sublist__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/icon/solution-check-icon.svg)center left / auto no-repeat;
    width: 100%;
    height: 100%;
}
.solution-sublist__item + .solution-sublist__item {
    margin-top: 22px;
}
.solution-list__message {
    background: var(--white);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    font-family: var(--middle-f-f);
    font-size: var(--middle-s);
    margin-top: 15px;
}
/* end section solution */
/* start section effect */
.effect {
    background: linear-gradient(0deg, #0E2E3C, #0E2E3C),
                linear-gradient(109.5deg, #0E2E3C 14.76%, #0F4C4B 100%),
                linear-gradient(109.5deg, #122F3C 14.76%, #164458 100%);
    position: relative;
    top: -55px;
    z-index: 19;
}
.title__effect {
    color: var(--white);
}
.effect__container {
    margin-top: 50px;
}
.effect__items_title {
    color: var(--white);
    font-family: var(--middle-f-f);
    font-size: 28px;
    text-align: center;
}
.effect__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}
.effect__business {
    margin-bottom: 20px;
}
.effect__item {
    flex-basis: 220px;
    padding-top: 76px;
    position: relative;
    text-align: center;
    color: rgb(229, 241, 252);
}
.effect__business .effect__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/icon/effect-arrow-blue.svg) top center / auto no-repeat;
}
.effect__business .effect__item:first-child,
.effect__business .effect__item:last-child {
    padding: 146px 0 0 0;
}
.effect__business .effect__item:first-child:after,
.effect__business .effect__item:last-child:after {
    background-position-y: 70px;
}
.effect__business .effect__item:nth-child(even) {
    padding: 96px 0 0 0;
}
.effect__business .effect__item:nth-child(even):after {
    background-position-y: 20px;
}
.effect__team .effect__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/icon/effect-arrow-orange.svg) top center / auto no-repeat;
}
.effect__item_title {
    font-size: var(--middle-s);
    font-family: var(--title-f-f);
    margin-bottom: 4px;
}
.effect__team .effect__item:first-child,
.effect__team .effect__item:last-child {
    margin-top: -62px;
}
.effect__team .effect__item:nth-child(even) {
    margin-top: -24px;
}
.steps {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1300px;
    z-index: -1;
}
.step {
    background:linear-gradient(180deg, rgba(105, 207, 235, 0.09) 0%, 
                                       rgba(105, 207, 235, 0) 100%);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, 
                     rgba(37, 215, 255, 0) 9.62%);
    width: 65px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.step:first-child {
    height: 20%;
}
.step:nth-child(2) {
    height: 25%;
}
.step:nth-child(3) {
    height: 30%;
}
.step:nth-child(4) {
    height: 35%;
}
.step:nth-child(5) {
    height: 40%;
}
.step:nth-child(6) {
    height: 45%;
}
.step:nth-child(7) {
    height: 50%;
}
.step:nth-child(8) {
    height: 55%;
}
.step:nth-child(9) {
    height: 60%;
}
.step:last-child {
    height: 67%;
}
/* end section effect */
/* start section about */
/* end section about */
/* start section testimonials */
/* end section testimonials */
/* start section form */
/* end section form */
@media screen and (max-width: 1300px) {
    .hero {
        height: 100%;
    }
    .hero__items {
        padding-top: 110px;
    }
    .title-hero {
        font-size: 41px;
    }
    .text-hero {
        font-size: 19px;
    }
    .hero-elips__big {
        width: 442px;
        height: 523px;
    }
    .hero-elips__small {
        width: 300px;
        height: 300px;
    }
    .title-list {
        font-size: 24px;
    }
    .problem__list {
        margin-top: 30px;
    }
    .problem-lists {
        gap: 20px;
    }
    .solution {
        padding-top: 0;
    }
    .solution__items {
        grid-template-columns: 1fr 290px;
        gap: 20px;
    }
    .solution__item {
        padding: 16px;
    }
    .solution__stage {
        font-size: 18px;
        margin-right: 8px;
    }
    .solution__item_title {
        font-size: 24px;
    }
    .solution-list__item {
        padding-left: 26px;
    }
    .solution-sublist {
        padding: 22px 16px;
    }
    .solution-sublist__item {
        padding-left: 26px;
    }
    .effect__items_title {
        font-size: 24px;
    }
}
@media screen and (max-width: 1024px) {
    .hero {
        height: 80vh;
    }
    .hero-left {
        margin-right: 20px;
        padding-bottom: 40px;
    }
    .title-hero {
        padding-top: 50px;
    }
    .title-hero {
        font-size: 36px;
    }
    .text-hero {
        font-size: 17px;
        margin-top: 20px;
    }
    .title-list {
        font-size: var(--middle-s);
    }
    .problem-list__item {
        font-size: 16px;
        height: 36px;
        padding-left: 38px;
    }
    .problem-list__item:after {
        background: url(../img/icon/fire.svg) center / 16px no-repeat,
                    var(--white);
        height: 30px;
        width: 30px;
    }
    .solution__items {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px 0;
        grid-auto-flow: column;
    }
    .solution__item:first-child .solution__item_top:after {
        background: url(../img/icon/loop.svg) top right / 26px no-repeat;
    }
    .solution__item:nth-child(2n) .solution__item_top:after {
        background: url(../img/icon/settings.svg) top right / 26px no-repeat;
    }
    .solution__item:last-child .solution__item_top:after {
        background: url(../img/icon/rocket.svg) top right / 26px no-repeat;
    }
    .solution-list__item:after {
        background: url(../img/icon/solution-arrow-icon.svg) center left / 18px no-repeat;
    }
    .solution__item:last-child .solution-list {
        column-count: 2;
    }
    .solution-sublist {
        padding: 16px 16px;
    }
    .solution-sublist__item:after {
        background: url(../img/icon/solution-check-icon.svg) center left / 18px no-repeat;
    }
    .solution__item:last-child .solution-list {
        column-count: 1;
    }
    .effect__items {
        gap: 10px;
    }
    .effect__item_title {
        font-size: 16px;
    }
    .effect__item_text {
        font-size: 15px;
    }
    .effect__business .effect__item:after {
        background: url(../img/icon/effect-arrow-blue.svg) top center / 48px no-repeat;
    }
    .effect__team .effect__item:after {
        background: url(../img/icon/effect-arrow-orange.svg) top center / 48px no-repeat;
    }
}
@media screen and (max-width: 820px) {
    .problem-lists {
        margin-top: 30px;
    }
    .problem-lists {
        gap: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .problem-item {
        flex-basis: 100%;
        width: 80%;
    }
    .problem__list {
        margin-top: 18px;
    }
    .solution__items {
        margin-top: 30px;
    }
    .step {
        width: 50px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .effect__items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 10px;
    }
    .effect__business {
        margin-bottom: 30px;
    }
    .effect__item {
        flex-basis: 32%;
        padding-top: 60px;
        position: relative;
        text-align: center;
        color: rgb(229, 241, 252);
    }
    .effect__business .effect__item:first-child,
    .effect__business .effect__item:last-child {
        padding: 60px 0 0 0;
    }
    .effect__business .effect__item:first-child:after,
    .effect__business .effect__item:last-child:after {
        background-position-y: 0;
    }
    .effect__business .effect__item:nth-child(even) {
        padding: 60px 0 0 0;
    }
    .effect__business .effect__item:nth-child(even):after {
        background-position-y: 0;
    }
    .effect__team .effect__item:first-child,
    .effect__team .effect__item:last-child {
        margin-top: 0;
    }
    .effect__team .effect__item:nth-child(even) {
        margin-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .hero {
        height: calc(100vh - 80px);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .hero-left {
        flex-basis: 100%;
    }
    .hero-right {
        display: none;
    }
    .title-hero {
        font-size: 30px;
    }
    .button-hero {
        margin-top: 70px;
    }
    .problem-item {
        width: 100%;
    }
    .title-list {
        font-size: 16px;
    }
    .problem__list {
        margin-top: 15px;
    }
    .problem-list__item + .problem-list__item {
        margin-top: 16px;
    }
    .problem-list__item {
        font-size: 16px;
        height: 30px;
        padding-left: 28px;
    }   
    .problem-list__item:after {
        background: url(../img/icon/fire.svg) center / 12px no-repeat,
                    var(--white);
        height: 18px;
        width: 18px;
    }
    .solution {
        margin-top: -20px;
    }
    .solution__item {
        border-radius: 15px;
        padding: 16px 12px;
    }
    .solution__item_title {
        font-size: 22px;
    }
    .solution__stage {
        font-size: 16px;
        border-radius: 7px;
        padding: 4px 8px;
    }
    .solution-list {
        margin-top: 16px;
    }
    .solution__item:first-child .solution-list {
        column-count: 1;
    }
    .solution__item:first-child 
    .solution-list__item:last-child {
        border-radius: 7px;
    }
    .solution-sublist__title {
        padding: 8px 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-size: 16px;
    }
    .solution-sublist {
        padding: 10px 8px;
    }
    .sublist__item {
        margin-top: 14px;
    }
    .subtitle__solution_item {
        font-size: 14px;
    }
    .solution-list__message {
        border-radius: 7px;
        padding: 12px 8px;
        font-size: 16px;
        margin-top: 15px;
    }
    .steps {
        display: none;
    }
    .effect__container {
        margin-top: 30px;
    }
    .effect__items_title {
        font-size: 22px;
    }
    .effect__items {
        margin-top: 20px;
        gap: 20px 14px;
    }
    .effect__item {
        flex-basis: 48%;
        padding-top: 38px;
    }
    .effect__business .effect__item:after {
        background: url(../img/icon/effect-arrow-blue.svg) top center / 30px no-repeat;
    }
    .effect__team .effect__item:after {
        background: url(../img/icon/effect-arrow-orange.svg) top center / 30px no-repeat;
    }
    .effect__business .effect__item:first-child,
    .effect__business .effect__item:last-child {
        padding: 38px 0 0 0;
    }
    .effect__business .effect__item:nth-child(even) {
        padding: 38px 0 0 0;
    }
    .effect__item_text {
        width: 90%;
        margin: 0 auto;
    }
}